.verticalLine {
  width:1%;
  height:50px;
  background:green;
  margin-top: 0;
  position: relative;
  margin-left: 10%;
}

.col{
  border-right: 1px solid lightgray;
}
.align{
  text-align: center;
}


#fab1{
  --box-shadow: 0;
}
