<ion-list>

        <ion-button expand="full" (click)="shareTwitter()">
            <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>Twitter</ion-button>




        <ion-button expand="full" (click)="shareEmail()">
            <ion-icon slot="icon-only" name="mail"></ion-icon>Email</ion-button>




        <ion-button expand="full" (click)="shareFacebook()">
            <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>Facebook</ion-button>



        <ion-button expand="full" (click)="shareWhatsApp()">
            <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>WhatsApp</ion-button>


</ion-list>
