ion-card{
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  width: 50%;
  margin: auto;
  margin-top: 15%;

}


#list{
  margin-top: 15%;
  margin-bottom: 10%;
}

.form-control {
  border: 2px solid lightgray;
  border-radius: 7px;
  margin: 2% 0 ;
  padding-left: 4% !important;

}

.error-message {
  font-size: small;
  color: red;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

.star {
  margin-top: 2%;
}
